body {
    background-color: whitesmoke;
     color: #B45F04;
     overflow: hidden;

}
#center{
    text-align: center;
}

#logo{
    width: 400px;
    height: 200px;
    position: relative;
    top: 50px;
    right: 300px;
}

#textfield:active{
    background-color: lightgreen;
}

#login{
    position: relative;
    bottom: 100px;
    left: 300px;
    
}   

#loginButton{
    position: relative;
    bottom: 10px;
    left: 85px;
    width: 80px;
    
}

#loginButton:hover{
animation-name: loginButton;
animation-fill-mode: forwards; 
animation-duration: 0.5s;
}

@keyframes loginButton{
    from{background-color: dimgrey;}
    to {background-color: ghostwhite;}
}

#text{
    position: relative;
    bottom: 10px;
   
}

hr{
    width: 1000px;
}

#register{
    color: #B45F04;
    position: relative;
    right: 250px;
}

#donate{
    color: #B45F04; 
    
}

#faq{
    color: #B45F04;
    position: relative;
    left: 250px;
}

#saletext{
    position: relative;
    left: 450px;
    display: inline-block;
    width: 15em;
}

#reg{
    position: relative;
    bottom: 130px;
    left: 900px;
    display: block;
    width: 40em;
    text-align: center;
}